#topbar{
  width:1600px;
  margin:0 auto;
}
#img1{
  opacity:0.6;
  z-index: 0;
  position: absolute;
}
#welcome{
  z-index:1;
  font-size:80;
  text-align:center;
  font-weight:700;
  letter-spacing: 2px;
  font-family: cursive;
  position :relative;
  top:-10px;

}
#second{
  margin:auto;
  width:1600px;
}

#img2{
  opacity:0.5;

  position: absolute;
  top:105px;
  z-index:0;
}
#content{
  width:1200px;
  margin: auto;
  color:#575B5F;
  font-size:30;
  font-weight: 800;
  background-color: black;
  z-index: 1;

}

.u1{
  letter-spacing: 1.5px;
  font-family: cursive;

}
.a1{
  color:white;
  text-decoration: none;
}
#content1{

  float:right;
  color:#FC6B02;
  font-size:30;
  font-weight: 600;
  background-color: black;
  z-index: 1;

}

