#topbar{
  margin:auto;
  text-align:center;
  text-decoration: underline;
  width:1000px;

  color: #24292E;
  background-color: #FFFFFF;

  font-size:40px;
  font-weight:bold;
  letter-spacing: 1.5px;
  font-family: cursive;


}

#home{

  float:right;
  font-size:20px;
  font-weight:bold;
  letter-spacing: 1.5px;
  font-family: cursive;
}

#content-bar{
  width:1000px;
  height:500px;
  margin: auto;
  color:#575B5F;;
}
.u1{
  letter-spacing: 1.5px;
  font-family: cursive;

}
#snake-img{
  display:none;
}
.a1{
  color:#575B5F;;
  text-decoration: none;
}
